<%= stylesheet_link_tag 'chatroom' %>

<div id="page"> 
  <div id="messages">
    <% @messages.each do |message| %>
      <div class="message">
        <div id="message-head">
         <p><%= message.user.username %></p>
         <p id="message-time"><%= message.created_at.strftime("%H:%M") %>
        </div>
        <p><%= message.content %></p>
      </div>
  <% end %>
  </div>
  <div id="write-message">
  </div>
</div>
